.editor-class {
  border: 1px solid #ccc;
  padding: 1rem;
}

.form-image-notifier {
  font-style: italic;
}

.publish-button {
  margin-left: 10px;
}

.toolbar-class {
  border: 1px solid #ccc;
}

.wrapper-class {
  border: 1px solid #ccc;
  padding: 1rem;
}
