.public-post-body {
  display: flex;
  flex: 1 1 auto;
}

.public-post-footer {
  text-align: right;
}

.public-post-image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.public-post-image-container {
  height: 200px;
  width: 100%;
}

.public-post-spacing {
  margin-bottom: 10px;
}

.public-post-spacing:hover {
  color: grey;
  cursor: pointer;
  opacity: 0.8;
}

.public-post-title {
  font-size: 2em;
  font-weight: bolder;
}
